{% extends 'homeBase.html.twig' %}

{% block title %}BSUfood{% endblock %}

{% block content %}

    <script>
        $(document).ready(function () {
            $('#categorytable').DataTable();
        });
    </script>

    <main>
        <div class="container-fluid"
             style="margin:100px auto; padding: 20px; background-color: white;">
            <table class="table" id="categorytable">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">
                        <input type="checkbox" id="select_all">
                    </th>
                    <th scope="col">CategoryName</th>
                </tr>
                </thead>
                <tbody>
                {% if categories %}
                    {% for category in categories %}
                        <tr>
                            <td scope="col">{{ category.id }}</td>
                            <td>
                                <input type='checkbox' name='cheks[]' value="<?php echo $item->email;?>">
                            </td>
                            <td>{{ category.name }}</td>
                            <td><a href ="{{ absolute_url(asset('')) }}admin/categories/delete_category/{{ category.id }}"
                                   class="btn btn-danger btn-sm"><button>Delete</button></a></td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(categories) }}
            </div>

        </div>
    </main>

{% endblock %}

