{% extends 'adminBase.html.twig' %}

{% block title %}BSUfood{% endblock %}

{% block content %}

    <script>
        $(document).ready(function () {
            $('#ordertable').DataTable();
        });
    </script>

    <main>
        <div class="container-fluid" style="margin:50px auto; padding: 20px; background-color: white;">
                {% if orders %}
                    {% for order in orders %}
                        {% if order.user.username == user.username %}
                        <tr>
                            <img src="{{ order.dish.image }}">
                            {{ order.dish.name }}
                            {{ order.count }}
                            {{ order.sum }}
                            <a href="order/delete_dish/{{ order.dish.id }}"><button>-</button></a>
                            <a href="order/add_dish/{{ order.dish.id }}"><button>+</button></a>
                            <p></p>
                        </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.address,null,{ 'label':'Адрес доставки'}) }}
                {{ form_widget(form.address,{'attr': {'class': 'form-control', 'style':'background-color: #E5E5E5;'}}) }}
            </div>
            <button>Принять</button>
            {{ form_end(form) }}
            <div class="navigation">
                {{ knp_pagination_render(orders) }}
            </div>
        </div>
    </main>




{% endblock %}

